html{
  max-width : 100%;
}

body {
  background-color: #0D0106;
  padding-left: 75px;
}

h1 {
  margin: 0 auto;
  color: #FBFBFF;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 75px;
}

p {
  color: #FBFBFF;
  text-align: left;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  margin: 0 auto;
}

#myprofilepic {
  float:right;
  padding-right: 150;
}

a {
  color: #ecd540;
}

a:hover{
  color: #FF331F
}

#inspiration{
  color: #FBFBFF;
  font-size: 10px;
}
